{% extends "blog/base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Contact</h1>
            <p class="lead">Get in touch with Me!</p>
            <hr class="my-4">
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-md-6 text-center">
            <p>
                <a href="https://www.linkedin.com/in/shreybm26/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" 
                         alt="LinkedIn" style="width: 40px; height: 40px;">
                </a>
                <br>
                LinkedIn:
                <a href="https://www.linkedin.com/in/shreybm26/" target="_blank">
                     Shrey Bhardwaj
                </a>
            </p>
            <p>
                <a href="mailto:shrey.bhardwaj2605@gmail.com">
                    <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" 
                         alt="Gmail" style="width: 40px; height: 40px;">
                </a>
                <br>
                Email:
                <a href="mailto:shrey.bhardwaj2605@gmail.com"> shrey.bhardwaj2605@gmail.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
